
.slick-prev,
.slick-next {
  @apply bg-black rounded-full h-10 w-10 flex items-center justify-center;
}

.slick-prev::before,
.slick-next::before {
  @apply text-white text-2xl;
}

.slick-prev {
  left: 10px;
  z-index: 1;
}

.slick-next {
  right: 10px;
  z-index: 1;
}
